:root { 
--black_900_7e:#0000007e; 
--deep_orange_A100:#f4a26c; 
--red_600:#e72929; 
--blue_A400:#2f80ed; 
--indigo_A100:#a5a6f6; 
--blue_A200:#498df3; 
--black_900_3f:#0000003f; 
--light_green_700_19:#70824619; 
--blue_A400_dd:#2f80eddd; 
--white_A700_99:#ffffff99; 
--teal_300:#3faea3; 
--black_900_00:#00000000; 
--black_900_dd:#000000dd; 
--amber_A700:#eaab00; 
--teal_900:#093545; 
--blue_gray_700:#357255; 
--blue_gray_900:#1c483b; 
--deep_purple_A200:#914df0; 
--red_A700:#ff0000; 
--purple_300:#bb6bd9; 
--black_900_48:#00000048; 
--black_900_4c:#0000004c; 
--gray_800:#4f4f4f; 
--black_900_0c:#0000000c; 
--black_900_99:#00000099; 
--light_green_700_00:#70824600; 
--gray_100_01:#f7f7f7; 
--black_900_19:#00000019; 
--white_A700:#ffffff; 
--blue_gray_700_01:#39795b; 
--deep_orange_50:#fce7e7; 
--blue_gray_700_00:#39795b00; 
--red_900:#b21b1b; 
--indigo_A200:#5d5fef; 
--blue_A400_63:#2f80ed63; 
--gray_50:#fafbff; 
--green_A400:#20df7f; 
--green_400:#64b161; 
--white_A700_cc:#ffffffcc; 
--black_900_66:#00000066; 
--black_900:#000000; 
--gray_500_01:#acacac; 
--blue_gray_800:#224957; 
--green_A400_01:#1fdf7e; 
--black_900_26:#00000026; 
--deep_purple_A200_01:#8d43ff; 
--gray_500:#919396; 
--blue_gray_400:#8e8e93; 
--amber_600:#feaf00; 
--gray_900:#18191f; 
--light_blue_50:#e7f9fd; 
--gray_300:#e5e5e5; 
--gray_300_01:#dbe2e5; 
--gray_100:#faf3f3; 
--indigo_100:#ccd3f2; 
--white_A700_01:#fffcfc; 
--light_blue_50_01:#e7fafe; 
--light_blue_50_00:#e7f9fd00; 
}